altair==5.2.0
pandas==2.2.1
protobuf==4.25.3
python-dotenv==1.0.1
st_pages==0.4.5
streamlit==1.32.0
streamlit_extras==0.4.0
google-ai-generativelanguage==0.4.0
google-api-core==2.17.1
google-auth==2.28.2
google-generativeai==0.4.0
googleapis-common-protos==1.62.0
charset-normalizer==3.3.2
validators==0.22.0
st-pages==0.4.5